# Board Game Geek Database

Read in the data for each table. Use code to show the number of rows and columns for each table in the database.

In [1]:
#import libraries

import pandas as pd
import numpy as np

import sys 
import sqlite3 as sqlite

from sqlalchemy import create_engine

In [2]:
#connect to sqlite database
db_data = r'datasets/database.sqlite'
engine = create_engine(r"sqlite:///{}".format(db_data))

In [3]:
#find out what tables are in the database
sql = "SELECT name FROM sqlite_master WHERE type = 'table';"

table_names = pd.read_sql(sql, engine)
table_names

                       name
0                BoardGames
1         bgg.ldaOut.topics
2      bgg.ldaOut.top.terms
3  bgg.ldaOut.top.documents
4                bgg.topics

In [4]:
#get all the rows from the "BoardGames" table in the database
sql = "SELECT * FROM BoardGames;" #astriks means "everything"
BoardGames_df = pd.read_sql(sql, engine)

In [5]:
 #preview first 3 rows
BoardGames_df.head(3)

,row_names,game.id,game.type,details.description,details.image,details.maxplayers,details.maxplaytime,details.minage,details.minplayers,details.minplaytime,...,stats.family.arcade.bayesaverage,stats.family.arcade.pos,stats.family.atarist.bayesaverage,stats.family.atarist.pos,stats.family.commodore64.bayesaverage,stats.family.commodore64.pos,stats.subtype.rpgitem.bayesaverage,stats.subtype.rpgitem.pos,stats.subtype.videogame.bayesaverage,stats.subtype.videogame.pos
0,1,1,boardgame,Die Macher is a game about seven sequential po...,//cf.geekdo-images.com/images/pic159509.jpg,5.0,240.0,14.0,3.0,240.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2,boardgame,Dragonmaster is a trick-taking card game based...,//cf.geekdo-images.com/images/pic184174.jpg,4.0,30.0,12.0,3.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,3,boardgame,"Part of the Knizia tile-laying trilogy, Samura...",//cf.geekdo-images.com/images/pic3211873.jpg,4.0,60.0,10.0,2.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#get number of rows and columns for Table 1 (BoardGames)
print("# of rows in the BoardGames table is: ", BoardGames_df.shape[0])
print("# of columns in the BoardGames table is: ", BoardGames_df.shape[1])

# of rows in the BoardGames table is:  90400
# of columns in the BoardGames table is:  81

In [7]:
#get all the rows from the "topics" table in the database
sql = 'SELECT * FROM "bgg.ldaOut.topics"' 
bggtopics_df = pd.read_sql(sql, engine)

In [17]:
#get number of rows and columns for Table 2 (bgg.ldaOut.topics)
print("# of rows in the bgg topics table is: ", bggtopics_df.shape[0])
print("# of columns in the bgg topics table is: ", bggtopics_df.shape[1])

# of rows in the bgg topics table is:  29229
# of columns in the bgg topics table is:  2

In [10]:
#get all the rows from the "terms" table in the database
sql = 'SELECT * FROM "bgg.ldaOut.top.terms"' 
terms_df = pd.read_sql(sql, engine)

In [11]:
#get number of rows and columns for Table 3 (bgg.ldaOut.top.terms)
print("# of rows in the terms table is: ", terms_df.shape[0])
print("# of columns in the terms table is: ", terms_df.shape[1])

# of rows in the terms table is:  250
# of columns in the terms table is:  4

In [12]:
#get all the rows from the "documents" table in the database
sql = 'SELECT * FROM "bgg.ldaOut.top.documents"' 
documents_df = pd.read_sql(sql, engine)

In [13]:
#get number of rows and columns for Table 4 (documents)
print ("# of rows in the documents table is: ", documents_df.shape[0])
print("# of columns in the documents table is: ", documents_df.shape[1])

# of rows in the documents table is:  288
# of columns in the documents table is:  4

In [16]:
#get all the rows from the "topics" table in the database
sql = 'SELECT * FROM "bgg.topics"' 
topics_df = pd.read_sql(sql, engine)

In [15]:
#get number of rows and columns for Table 5 (bgg.topics)
print ("# of rows in the topics table is: ", topics_df.shape[0])
print("# of columns in the topics table is: ", topics_df.shape[1])

# of rows in the topics table is:  29313
# of columns in the topics table is:  74