Week 2 

# Board Game Geek Database

Read in the data for each table. Use code to show the number of rows and columns for each table in the database.

In [2]:
#import libraries

import pandas as pd
import numpy as np

import sys 
import sqlite3 as sqlite

from sqlalchemy import create_engine

In [3]:
#connect to sqlite database
db_data = r'datasets/database.sqlite'
engine = create_engine(r"sqlite:///{}".format(db_data))

In [4]:
#find out what tables are in the database
sql = "SELECT name FROM sqlite_master WHERE type = 'table';"

table_names = pd.read_sql(sql, engine)
table_names

                       name
0                BoardGames
1         bgg.ldaOut.topics
2      bgg.ldaOut.top.terms
3  bgg.ldaOut.top.documents
4                bgg.topics

In [5]:
#get all the rows from the "BoardGames" table in the database
sql = "SELECT * FROM BoardGames;" #astriks means "everything"
BoardGames_df = pd.read_sql(sql, engine)

In [6]:
 #preview first 3 rows
BoardGames_df.head(3)

,row_names,game.id,game.type,details.description,details.image,details.maxplayers,details.maxplaytime,details.minage,details.minplayers,details.minplaytime,...,stats.family.arcade.bayesaverage,stats.family.arcade.pos,stats.family.atarist.bayesaverage,stats.family.atarist.pos,stats.family.commodore64.bayesaverage,stats.family.commodore64.pos,stats.subtype.rpgitem.bayesaverage,stats.subtype.rpgitem.pos,stats.subtype.videogame.bayesaverage,stats.subtype.videogame.pos
0,1,1,boardgame,Die Macher is a game about seven sequential po...,//cf.geekdo-images.com/images/pic159509.jpg,5.0,240.0,14.0,3.0,240.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2,boardgame,Dragonmaster is a trick-taking card game based...,//cf.geekdo-images.com/images/pic184174.jpg,4.0,30.0,12.0,3.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,3,boardgame,"Part of the Knizia tile-laying trilogy, Samura...",//cf.geekdo-images.com/images/pic3211873.jpg,4.0,60.0,10.0,2.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#preview last 3 rows
BoardGames_df.tail(3)

,row_names,game.id,game.type,details.description,details.image,details.maxplayers,details.maxplaytime,details.minage,details.minplayers,details.minplaytime,...,stats.family.arcade.bayesaverage,stats.family.arcade.pos,stats.family.atarist.bayesaverage,stats.family.atarist.pos,stats.family.commodore64.bayesaverage,stats.family.commodore64.pos,stats.subtype.rpgitem.bayesaverage,stats.subtype.rpgitem.pos,stats.subtype.videogame.bayesaverage,stats.subtype.videogame.pos
90397,90398,220068,boardgameexpansion,Cecrops founded Athens and judged a competitio...,//cf.geekdo-images.com/images/pic3503602.jpg,4.0,90.0,14.0,1.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90398,90399,220069,boardgameexpansion,"The famous Myrmidons are the army of Achilles,...",//cf.geekdo-images.com/images/pic3437871.jpg,4.0,90.0,14.0,1.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90399,90400,220070,boardgame,A snowbound small village. It quietly approach...,None,6.0,20.0,12.0,3.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#get number of rows and columns for Table 1 (BoardGames)
print("# of rows in the BoardGames table is: ", BoardGames_df.shape[0])
print("# of columns in the BoardGames table is: ", BoardGames_df.shape[1])

# of rows in the BoardGames table is:  90400
# of columns in the BoardGames table is:  81

In [17]:
#get all the rows from the "topics" table in the database
sql = "SELECT * FROM bgg.ldaOut.top.documents;" 
topics_df = pd.read_sql(sql, engine)

OperationalError: (sqlite3.OperationalError) near ".": syntax error [SQL: 'SELECT * FROM bgg.ldaOut.top.documents;'] (Background on this error at: http://sqlalche.me/e/e3q8)